@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neuething Sans Test';
  src: url('./assets/fonts/NeuethingSans-RegularExpanded.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neuething Sans Test';
  src: url('./assets/fonts/NeuethingSans-SemiBoldExpanded.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Neuething Sans Test';
  src: url('./assets/fonts/NeuethingSans-boldExpanded.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Neuething Sans Test';
  src: url('./assets/fonts/NeuethingSans-ExtraBoldExpanded.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Neuething Sans Test';
  src: url('./assets/fonts/NeuethingSans-BlackExpanded.otf');
  font-weight: 900;
}

h1 {
  font-family: 'Neuething Sans Test', sans-serif;
  font-weight: 900; /* Black */
}

h2 {
  font-family: 'Neuething Sans Test', sans-serif;
  font-weight: 800; /* ExtraBold */
}

h3, h4, h5, h6 {
  font-family: 'Neuething Sans Test', sans-serif;
  font-weight: 600; /* SemiBold */
}

body {
  font-family: 'Arimo', sans-serif;
  font-weight: 400; /* Regular */
}

a, ul, li {
  font-family: 'Arimo', sans-serif;
  font-weight: 700; /* Bold */
}

svg {
  display: block;
}
svg:hover {
  color: #de6a07;
}